input {
  border: 0;
  width: 100%;
  padding: 20px;
  outline: none;
  border-bottom: 1px solid rgb(197, 197, 197);
  transition: border ease 0.3s;
}


input:focus {
  border-bottom: 1px solid rgb(0, 149, 218);
  transition: border ease 0.3s;
}

.loginButton {
  border-radius: 50px;
  width: 100px;
  color: white;
  appearance: none;
  outline: none;
  background: rgb(0, 149, 218);
  border: none;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
  font-size: 18px;
}

/* .loginButton span{
  font-size: 18px;
  height: 18px;
} */

.signupButton:hover {
  background: white;
  color: rgb(0, 149, 218);
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
  box-shadow: rgba(0, 149, 218, 0.3) 0px 7px 29px 0px;
}

.signupButton span {
  font-size: 25px;
  height: 25px;
}

.signupButton p {
  font-size: 18px;
}

/* .buttonsRow {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

.signupButton {
  border-radius: 50px;
  color: white;
  appearance: none;
  outline: none;
  background: #3b414d;
  border: none;
  width: 100px;
  padding: 12px;
  cursor: pointer;
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
  font-size: 16px;
  margin-right: 10px;
  font-family: 'vazir';
}

.loginButton:hover {
  background: white;
  color: #3b414d;
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
  box-shadow: #3b414d4d 0px 7px 29px 0px;
}

/* responsive */

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }


  .inputDiv
  /* .fullInputAndError */
 {
    width: 100%;
  }

  /* .buttonsRow {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .loginDiv{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-family: 'vazir';
  }
  .loginButton{
    margin-top: 10px;
  }

}
