.container {
  width: 580px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 40px 20px;
  border-radius: 15px;
  margin: 0 auto;
}

.titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 40px 0;
}

.titleBox span {
  font-size: 24px;
  height: 24px;
  color: rgb(0, 149, 218);
}

.title h4 {
  font-size: 22px;
  font-weight: 700;
  padding: 0 12px;
}

.title p {
  padding: 0 12px;
  font-size: 14px;
}

.inputsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

input {
  border: 0;
  width: 100%;
  padding: 20px;
  outline: none;
  border-bottom: 1px solid rgb(197, 197, 197);
  transition: border ease 0.3s;
  font-family: "iranyekanwebmedium";
}

.inputDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

input[name="lName"],
input[name="confirmPassword"] {
  padding-right: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.inputDivEmail {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  margin-top: 15px;
}

.inputDivEmail span {
  font-size: 18px;
  height: 18px;
}

.inputDivPhone {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  margin-top: 15px;
}

.inputDivPhone span {
  font-size: 18px;
  height: 18px;
}

input::placeholder {
  font-family: "iranyekanwebmedium";
}

.inputDiv span {
  font-size: 18px;
  height: 18px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  border-bottom: 1px solid rgb(0, 149, 218);
  transition: border ease 0.3s;
}

.signupButton {
  border-radius: 50px;
  color: white;
  appearance: none;
  outline: none;
  background: rgb(0, 149, 218);
  border: none;
  width: 140px;
  padding: 12px;
  font-family: "iranyekanwebmedium";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
}
.signupButton:hover {
  background: white;
  color: rgb(0, 149, 218);
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
  box-shadow: rgba(0, 149, 218, 0.3) 0px 7px 29px 0px;
}
.signupButton span {
  font-size: 25px;
  height: 25px;
}
.signupButton p {
  font-size: 18px;
}

.buttonsRow {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  border-radius: 50px;
  color: white;
  appearance: none;
  outline: none;
  background: #3b414d;
  border: none;
  width: 100px;
  padding: 12px;
  font-family: "iranyekanwebmedium";
  cursor: pointer;
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
  font-size: 16px;
  margin-right: 10px;
}
.loginButton:hover {
  background: white;
  color: #3b414d;
  transition: color ease 0.3s;
  transition: background-color ease 0.3s;
  box-shadow: #3b414d4d 0px 7px 29px 0px;
}

input[type="checkbox"] {
  width: min-content;
  margin-left: 5px;
}
.agreeDiv {
  margin-top: 30px;
  padding-right: 20px;
  height: 40px;
}

.inputAndError {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 80px;
  margin-right: 10px;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
  font-family: "iranyekanwebmedium";
  margin: 5px 40px;
  display: block;
}

.fullInputAndError {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 97%;
  height: 90px;
}

/* responsive */

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .inputsRow {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  input[name="lName"],
  input[name="confirmPassword"],
  input {
    width: 95%;
  }

  .inputDivEmail,
  .inputDivPhone,
  .fullInputAndError,
  .inputAndError {
    width: 100%;
  }

  .buttonsRow {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loginDiv{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .loginButton{
    margin-top: 10px;
  }
}
