.container{
  width: 500px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto;
}

.titleBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 40px 0;
}
.titleBox span{
  font-size: 24px;
  height: 24px;
}

.title h4{
  font-size: 22px;
  font-weight:700;
  padding: 0 12px;
}
.title p{
  padding: 0 12px;
  font-size: 14px;
}
