* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************ Custom Font ************/

@font-face {
  font-family: iranyekanwebmedium;
  src: url('./assets/fonts/iranyekanwebmedium.woff');
  font-weight: 700;
}

@font-face {
  font-family: iranyekanwebregular;
  src: url('./assets/fonts/iranyekanwebregular.woff');
  font-weight: 500;
}

@font-face {
  font-family: IRANSans;
  src: url('./assets/fonts/IRANSans.woff');
  font-weight: 400;
}

@media (max-width:800px) {
  body {
    background-image: none;
  }
}