@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/woff/Vazir.woff") format("woff"),
    url("assets/fonts/ttf/Vazir.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/woff/Vazir-Thin.woff") format("woff"),
   url("assets/fonts/ttf/Vazir-Thin.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/woff/Vazir-Bold.woff") format("woff"),
    url("assets/fonts/ttf/Vazir-Bold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/woff/Vazir-Light.woff") format("woff"),
   url("assets/fonts/ttf/Vazir-Light.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/woff/Vazir-Medium.woff") format("woff"),
   url("assets/fonts/ttf/Vazir-Medium.ttf")
      format("truetype");
  font-display: swap;
}