body {
  margin: 0;
  /* box-sizing: border-box; */
  padding: 0;
  font-family:"iranyekanwebmedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-size: 13px;
  color: #555555;
  font-weight: 400;
  background-image: url(./assets/img/effect.png), url(./assets/img/effect.png);
  background-position: 0 top, 100% top;
  background-repeat: no-repeat;
  /* width: 1170px;
  margin: 0 auto; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

